# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.Python
pip-wheel-metadata/
*.egg-info/

# Editor / OS
.vscode/
.idea/
.DS_Store

# env
.env
.env.* 
secrets.json

# Streamlit / Jupyter
.streamlit/
.ipynb_checkpoints/

# logs
*.log

# Local DB / runtime
*.db
*.sqlite3
*.sqlite

# Build / packaging
build/
dist/
*.egg-info/

# Secrets / config files (DO NOT COMMIT)
# auth_config.yaml
auth_config.yml
config.json
secrets.toml

# Optional: lockfiles
poetry.lock
Pipfile.lock

dump/